<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign -Up</h1>
        {{#if hasErrors }}
            <div class="alert alert-danger">
                 {{#each messages}}
                  <p>{{this}}</p>
                 {{/each}}
            </div>
        {{/if}}
            <form action="/user/signup" method="post">
                <div class="form-group">
                    <label for="Email">E-mail</label>
                    <input id="email" type="email" name="email" placeholder="Enter your email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input id="password" name="password" type="password" class="form-control" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        
    </div>
</div>